// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#bg {
    background: url('/storage/app/public/img/main-page-bg.png') fixed center center no-repeat;
    background-size: cover;
}

.first-main {
    padding: 500px auto;
    height: 80vh;
}

.input-text {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    width: 20%;
    resize: none;
}

#order {
    margin: 10px auto;
    display: block;
    width: 20%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#order:hover {
    background-color: #ccc;
}

.order-form-container {
    display: none;
}

.order {
    opacity: 0;
}

.order:checked {
    display: none;
}

.order:checked ~ h1 {
    display: none;
}

.order:checked ~ .order-form-container {
    height: 100vh;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    width: 100%;
}

label h1 {
    padding: 20px;
    background-color: rgb(175, 211, 224);
    border: solid 1px rgb(175, 211, 224);
    border-radius: 5px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

label h1:hover {
    background-color: rgb(113, 189, 227);
}

.second-main {
    position: relative;
    background-color: rgba(128, 155, 165, 0.53);
    border: rgba(169, 208, 220, 0.75);
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin-bottom: 150px;
}

.second-main h1 {
    font-size: 40px;
}

th {
    font-size: 30px;
}

td {
    font-size: 20px;
}

#card h2 {
    display: block;
    font-size: 30px;
    margin: 10px 20px 0 20px;
}

#card p {
    display: block;
    font-size: 20px;
    margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.review-form {
    margin: auto;

}

.order-btn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(175, 211, 224);
    border: solid 1px rgb(175, 211, 224);
    width: 70px;
}
