// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#bg {
    background: url('/storage/app/public/img/main-page-bg.png') fixed;
    background-size: cover;
}

.first-main {
    padding: 500px auto;
    height: 100vh;
}

.input-text {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    width: 20%;
    resize: none;
}

#order {
    margin: 10px auto;
    display: block;
    width: 20%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#order:hover {
    background-color: #ccc;
}

.order-form-container {
    display: none;
}

.order {
    opacity: 0;
}

.order:checked {
    display: none;
}
.order:checked ~ h1 {
    display: none;
}

.order:checked ~ .order-form-container {
    backdrop-filter: blur(5px);
    height: 100vh;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

label{
    width: 100%;
}

label h1 {
    padding: 20px;
    background-color: rgb(175, 211, 224);
    border: solid 1px rgb(175, 211, 224);
    border-radius: 5px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

label h1:hover {
    background-color: rgb(113, 189, 227);
}

.second-main {
    position: relative;
    background-color: rgba(169, 208, 220, 0.5);
    border: rgba(169, 208, 220, 0.75);
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.second-main h1 {
    font-size: 40px;
}
